{{ range $project := (secretJSON "list" "zon/v1/gcp/") }}
{{- $instances := (print "zon/v1/gcp/" $project "cloudsql/instances/") }}
{{ range $instance := (secretJSON "list" $instances) }}
{{ $instance_keys := (secretJSON "list" (print $instances $instance)) }}
{{ if has "databases/" $instance_keys }}

# {{ $project }}{{ (trimSuffix "/" $instance) }}
{{- $databases := (print $instances $instance "/databases/") }}
{{ range $database := (secretJSON "list" $databases) }}
{{- $inst := (print $instances $instance "instance-credentials" ) }}
{{- $key := (print $databases $database ) }}
{{- $credentials := (secretJSON "get" $inst).data }}
{{- $db := (secretJSON "get" $key).data }}
{{- if $db }}
[{{ $db.name }}-{{ $credentials.environment }}]
host={{ $credentials.private_dns }}
port=5432
user={{ $db.user }}
password={{ $db.password }}
dbname={{ $db.name }}
sslmode=verify-ca
{{ $prefix := (print (env "HOME") "/.pg_services/" (trimSuffix "/" $project) "-" $db.instance) -}}
sslcert={{ $prefix }}-client.crt
sslkey={{ $prefix }}-client.key
sslrootcert={{ $prefix }}-server-ca.pem
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{- end }}
