#!/bin/bash

umask 077
{{- range $project := (secretJSON "list" "zon/v1/gcp/") }}
{{- $instances := (print "zon/v1/gcp/" $project "cloudsql/instances/") }}
{{- range $instance := (secretJSON "list" $instances) }}
{{- $base := (print (env "HOME") "/.pg_services/" $project $instance) }}
{{- $credentials := (secretJSON "get" (print $instances $instance "instance-credentials")).data }}
mkdir -p {{ $base }}
echo '{{ $credentials.client_ca_cert_cert }}' > {{ $base }}client.crt
echo '{{ $credentials.client_ca_cert_private_key }}' > {{ $base }}client.key
echo '{{ $credentials.server_ca_cert_cert }}' > {{ $base }}server-ca.pem
{{- end }}
{{- end }}
