#!/usr/bin/env bash

set -e
services=~/.pg_service.conf
tmpfile=$(mktemp)
awk '

# 1st pass: count headers
FNR==NR && /^\[[^]]*\]$/ {
    header = $0
    line = NR
    seen[header]++
}

# 1st pass: collect suffixes
FNR==NR && /^host=/ {
    if (match($0, /-pg[0-9]+-(rr-)?/)) {
        suffix[line] = substr($0, RSTART+3, RLENGTH-4)
    } else {
        suffix[line] = "13"
    }
}

# 2nd pass: inject suffixes
FNR!=NR && /^\[[^]]*\]$/ {
    if (seen[$0] > 1) {
        sub(/\]$/, "-" suffix[FNR] "]")
    }
}

FNR!=NR { print }

' $services $services > "$tmpfile"
cp "$tmpfile" $services
rm "$tmpfile"
